@import 'element';

.header {
    position: relative;
    padding: 22px 0;
    z-index: 11;

    .nav {
        display: block;
    }

    .list {
        list-style-type: none;
        justify-content: space-between;
    }

    .link {
        color: $second-whiter-color;
        font-weight: 600;
        font-size: $little-font;
        line-height: 19px;

        &:hover {
            text-decoration: none;
        }
    }

    .hidden {
        display: none;
    }

    .burger {
        display: none;
    }

    .cross {
        display: none;
    }

    .goo {
        display: none;
        margin: 0;
    }

    .telephone {
        font-weight: 800;
        font-size: $main-font;
        line-height: 21px;
        text-align: right;
        color: $second-whiter-color;
    }

    .working {
        font-weight: 400;
        font-size: $little-font;
        line-height: 19px;
        color: $second-whiter-color;
    }

    .conspicuous {
        display: flex;
    }

    .eminent {
        display: none;
    }
}

.fixed {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $main-black-color;
        z-index: 100;
    }

    .goo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right {
        padding-right: 14px;
    }

    .conspicuous {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .header {
        .goo {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1306px) {
    .header {
        .goo {
            width: 92vw;
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
        padding: 20px 0 0 0;
        
        .nav {
            display: none;
            position: absolute;
            top: 94px;
            left: 0;
            width: 100vw;
            height: 100vh;
        }

        .nav.active {
            display: block;
        }

        .list {
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            background-color: $second-black-color;
            z-index: 100;
            height: 100vh;
            padding: 0;
        }

        .roster {
            padding-top: 50px;
        }

        .hidden {
            display: block;
            padding-top: 85px;
            width: 342px;
        }

        .burger.active {
            display: block;
        }

        .cross.active {
            display: block;
        }

        .conspicuous {
            display: none;
        }
    }

    .fixed {    
        .goo {
            display: none;
        }

        .eminent {
            display: flex;
            background-color: $main-whiter-color;
            padding: 10px 0;
            margin-top: 20px;

            .hours {
                font-weight: 500;
                font-size: $wee-font;
                line-height: 15px;
                color: $main-black-color;
                padding-right: 14px;
            }

            .inquiries {
                font-weight: 700;
                font-size: $wee-font;
                line-height: 15px;
                color: $main-black-color;
            }
        }
    }
}
